# Core de dados
numpy==1.26.4
pandas==2.1.4

# Machine Learning
scikit-learn==1.4.2

# Deep Learning (PyTorch estável)
torch

# Tracking de experimentos
mlflow

# Dados financeiros
yfinance

# Visualização (para avaliação do modelo)
matplotlib